* {
    font-family: 'Lato';
    font-weight: '400';
    margin: 0;
}

@font-face {
    font-family: 'Another Danger Slanted';
    src: local('Another Danger Slanted'), url(./fonts/Another-Danger-Slanted-Demo.woff2);
}